.container {
  margin: 0 auto;
  width: 70%;
}

.footerbg {
  background-color: #fcb72b;
}

.footer {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.footerlink {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.fotterdesc {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: white;
}

.footercopy {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: white;
}

.footercom {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: white;
}

.footercompl {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: white;
}
